@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: 'nunito';
    src: url('/fonts/nunito/Nunito-Regular.ttf');
    font-display: swap;
  }
}

@layer components {
  .h-item-card {
    @apply h-[16.2vh];
  }

  .w-item-card {
    @apply w-[11.53vh];
  }

  .h-geisha-card {
    @apply h-[20vh];
  }

  .w-geisha-card {
    @apply w-[13.31vh];
  }
}
