.git
.idea
.vscode
.github

**/node_modules
**/build
**/.eslintignore
**/.prettierignore
**/.prettierrc
**/.cjs
**/.env.*

.gitignore
.gitattributes
compose.yaml
readme.md
contributing.md

server/nodemon.json
