.git

node_modules
client/node_modules
server/node_modules
packages/game-logic/node_modules

client/.svelte-kit
client/build
server/build
packages/game-logic/build

client/.eslintignore
client/.eslintrc.cjs
client/.prettierignore
client/.prettierrc
server/.eslintignore
server/.eslintrc.cjs
server/.prettierignore
server/.prettierrc
packages/game-logic/.eslintignore
packages/game-logic/.eslintrc.cjs
packages/game-logic/.prettierignore
packages/game-logic/.prettierrc

.gitignore
.gitattributes
.dockerignore
.env.example
.env.local
compose.yaml
readme.md
server/nodemon.json
