name: Publish Docker images

on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  publish-images:
    name: Push Docker images to Docker Hub
    runs-on: ubuntu-latest
    steps:
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_TOKEN }}
      
      - name: Build and push client
        uses: docker/build-push-action@v4
        with:
          tags: dfordeveloper/hanamikoji-client:latest
          build-args: |
            CLIENT_URL=hana.dfor.dev
            API_URL=https://hana-api.dfor.dev
          file: client.Dockerfile
          push: true
      
      - name: Build and push server
        uses: docker/build-push-action@v4
        with:
          tags: dfordeveloper/hanamikoji-server:latest
          file: server.Dockerfile
          push: true
