name: Test

on:
  pull_request:
    branches:
      - main

jobs:
  run-tests:
    name: Run tests
    runs-on: ubuntu-latest
    steps:
      - name: Check out Git repository
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v1
        with:
          node-version: 18

      - name: Install pnpm
        uses: pnpm/action-setup@v2
        with:
          version: 7.18.2

      - name: Install Node.js dependencies
        run: pnpm i

      - name: Run client tests
        run: pnpm run test:client

      - name: Run game-logic tests
        run: pnpm run test:shared
